# Dependencies and build artifacts
/vendor
/node_modules
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/.git
/.github
/.gitignore
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
*.log

# Env and IDE
.env
.env.*
/.idea
/.vscode
